<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body style="background-color: darkseagreen">
<h1>Welcome to <%= link_to 'adamenko.pp.ua', root_url %>, dear <%= @order.name %></h1>
<p>
  You have successfully signed up to example.com,
  your phone is: <%= @order.phone %>.<br/>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>