<hr>

<div class="row">
  <div class="col-md-12">
    <% review.rating.times do %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% (5 - review.rating).times do %>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
    <%= review.author %>
    <span class="pull-right"><%= distance_of_time_in_words_to_now review.created_at %></span>
    <p><%= review.body %></p>
  </div>
</div>