<div class="col-md-9">
  <%= render 'products/karusel_html' %>

  <div class="row">
    <%= render @products %>
    <%= will_paginate @products %>
  </div>
</div>

<!--&lt;!&ndash; jQuery &ndash;&gt;-->
<!--<script src="js/jquery.js"></script>-->

<!--&lt;!&ndash; Bootstrap Core JavaScript &ndash;&gt;-->
<!--<script src="js/bootstrap.min.js"></script>-->

